.header {
  padding: auto;
  width: 100%;
  height: 80px;
  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
}

.container-meme {
  position: relative;
}

.text-meme {
  color: white;
  position: absolute;
}
