.header {
  padding: auto;
  width: 100%;
  height: 80px;
  text-align: center;
}

.container {
  width: 80%;
  margin: auto;
}

.container-preview {
  position: relative;
  background-color: white;
  border: black solid 1px;
}

.text-preview {
  color: white;
  position: absolute;
}

.image-preview {
  width: 100%;
  height: 100%;
  border: black solid 1px;
}
